@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #8189ff;
  --container-color: #2f68e2;
  --hightligh-color: #6795f7;
  --container-color-rgba: rgba(0, 0, 0, 0.8);
  --font-color: #ffffff;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 20px 40px;
  background-color: var(--container-color-rgba);
  color: var(--font-color);
  border-radius: 5px;
}

.container h1 {
  text-align: center;
}

.input-control {
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
}

.input-control label::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: red;
}

.input-control input {
  border: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid var(--font-color);
  color: var(--font-color);
  font-size: 16px;
  padding: 5px 0;
  z-index: 1;
}

.input-control label {
  position: absolute;
  margin: 0;
  left: 0;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
  cursor: text;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.input-control input:focus + label,
.input-control input:valid + label {
  color: var(--hightligh-color);
  transform: translateY(-35px);
}

.btn {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.text a {
  color: var(--hightligh-color);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.text a:hover {
  color: var(--font-color);
}

.input-control input,
.btn,
.text a {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--container-color);
}

.btn:active {
  transform: scale(0.98);
}
